<div>
  <table class="span4">
    <tr>
      <td>
        Brewhouse effeciency %
      </td>
      <td>
        <input class="span1" ng-model="state.brewhouseEffeciency"></input>
      </td>
    </tr>
    <tr>
      <td>
        Pre-boil volume
      </td>
      <td>
        <input class="span1" ng-model="state.boilStartVolume"></input>
      </td>
    </tr>
    <tr>
      <td>
        Post-boil volume
      </td>
      <td>
        <input class="span1" ng-model="state.boilFinalVolume"></input>
      </td>
    </tr>
    <tr>
      <td>
        Boil duration
      </td>
      <td>
        <input class="span1" ng-model="state.boilDuration"></input>
      </td>
    </tr>
  </table>
  <table class="span4">
    <tr>
      <td>
        Final volume
      </td>
      <td>
        <input class="span1" ng-model="state.finalVolume"></input>
      </td>
    </tr>
    <tr>
      <td>
        Apparent attenuation %
      </td>
      <td>
        <input class="span1" ng-model="state.apparentAttenuation"></input>
      </td>
    </tr>
  </table>
</div>